export(gwpcr.molecules.precompute,
       rgwpcr, dgwpcr, dgwpcr.fun, pgwpcr, pgwpcr.fun,
       gwpcr.sd, gwpcr.sd.inv, gwpcr.mixture,
       rgwpcrpois, dgwpcrpois, pgwpcrpois,
       gwpcrpois.mom, gwpcrpois.mle)
importFrom(data.table, data.table, ':=')
useDynLib(gwpcR, gwpcr_simulate)
